section.section.sec_footer
  footer.footer
    ul.footer_list
      li.footer_item
        a.footer_link(href='#') About Us
      li.footer_item
        a.footer_link(href='#') Careers
      li.footer_item
        a.footer_link(href='#') Terms and Conditions
      li.footer_item
        a.footer_link(href='#') Contact Us
    p.footer__copyright
      | &copy; Copyright by
      a.footer__link(target='_blank', href='https://www.linkedin.com/in/kalyan-pendem-3030b226a/')
        span.highlight_2  KALYAN.